{% extends "partials/template.main.html" %}

{% block content %}

{% include "partials/template.nav.html" %}
<div class="container-fluid eFiscal-container">
    <div class="eFiscal-container-form">
        <div class="card">
            <div class="card-header">
                <h1 class="display-1 eFiscal-container-form-title">
                    <i class="fa-solid fa-store"></i> Cliente
                </h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ client.corporateName | default:'' }}" id="corporateName" placeholder="corporateName" autocomplete="off">
                            <label for="corporateName">Razão Social</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ client.brandName | default:'' }}" id="brandName" placeholder="brandName" autocomplete="off">
                            <label for="brandName">Nome Fantasia</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="number" class="form-control" value="{{ client.document | default:'' }}" id="document" placeholder="document" autocomplete="off">
                            <label for="document">CPF/CNPJ</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="number" class="form-control" value="{{ client.ie | default:'' }}" id="ie" placeholder="ie" autocomplete="off">
                            <label for="ie">IE</label>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ client.postalCode | default:'' }}" id="postalCode" placeholder="postalCode" autocomplete="off">
                            <label for="postalCode">CEP</label>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-floating">
                            <select class="form-select" id="state">
                                {% for state in states %}
                                    <option value="{{ state.0 }}" {% if state.0 == client.state %} selected {% endif %} >{{ state.1 }}</option>
                                {% endfor %}
                            </select>
                            <label for="state">Estado</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ client.city | default:'' }}" id="city" placeholder="city" autocomplete="off">
                            <label for="city">Cidade</label>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ client.district | default:'' }}" id="district" placeholder="district" autocomplete="off">
                            <label for="district">Bairro</label>
                        </div>
                    </div>
                    <div class="col-md-10 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ client.street | default:'' }}" id="street" placeholder="street" autocomplete="off">
                            <label for="street">Endereço</label>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ client.number | default:'' }}" id="number" placeholder="number" autocomplete="off">
                            <label for="number">Número</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ client.phone | default:'' }}" id="phone" placeholder="phone" autocomplete="off">
                            <label for="phone">Telefone</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ client.cellPhone | default:'' }}" id="cellPhone" placeholder="cellPhone" autocomplete="off">
                            <label for="cellPhone">Celular</label>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ client.email | default:'' }}" id="email" placeholder="email" autocomplete="off">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="observation" id="observation" style="height: 220px">{{ client.observation }}</textarea>
                            <label for="observation">Observação</label>
                          </div>
                    </div>
                </div>
            </div>
            <div class="card-footer mb-4">
                <div class="d-grid gap-2 col-8 col-md-5 mx-auto">
                    <button class="btn btn-success btn-lg btn-rounded" onclick="client_update('{{ client.id }}')" type="button">
                        <i class="fa-solid fa-floppy-disk"></i> Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    const AXIOS_URL = '{{ AXIOS_URL }}'

    $(document).ready(function(){
        $('#phone').mask('(00) 0000-0000');

        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
        spOptions = {
            onKeyPress: function(val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        };
        $('#cellPhone').mask(SPMaskBehavior, spOptions);
        $('#postalCode').mask("00000-000");

    })

    function client_update(clientId){
        
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";
        axios.put(AXIOS_URL+`/client`, {
            clientId: clientId,
            corporateName: $('#corporateName').val(),
            brandName: $('#brandName').val(),
            document: $('#document').val(),
            ie: $('#ie').val(),
            postalCode: $('#postalCode').val(),
            state: $('#state').val(),
            city: $('#city').val(),
            district: $('#district').val(),
            street: $('#street').val(),
            number: $('#number').val(),
            phone: $('#phone').val(),
            cellPhone: $('#cellPhone').val(),
            email: $('#email').val(),
            observation: $('#observation').val(),
        }).then(res => {
            var data = res.data
            console.log(data);
        })

    }

</script> 
{% endblock script %}