{% extends "partials/template.main.html" %}

{% block content %}

{% include "partials/template.nav.html" %}
<div class="container-fluid eFiscal-container">
    <div class="eFiscal-container-form">
        <div class="card">
            <div class="card-header">
                <h1 class="display-1 eFiscal-container-form-title">
                    <i class="fa-solid fa-store"></i> Minha Empresa
                </h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ store.corporateName }}" id="corporateName" placeholder="corporateName" autocomplete="off">
                            <label for="corporateName">Razão Social</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ store.brandName }}" id="brandName" placeholder="brandName" autocomplete="off">
                            <label for="brandName">Nome Fantasia</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="number" class="form-control" value="{{ store.document }}" id="document" placeholder="document" autocomplete="off">
                            <label for="document">CPF/CNPJ</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="number" class="form-control" value="{{ store.ie }}" id="ie" placeholder="ie" autocomplete="off">
                            <label for="ie">IE</label>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ store.postalCode }}" id="postalCode" placeholder="postalCode" autocomplete="off">
                            <label for="postalCode">CEP</label>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-floating">
                            <select class="form-select" id="state">
                                {% for state in states %}
                                    <option value="{{ state.0 }}" {% if state.0 == store.state %} selected {% endif %} >{{ state.1 }}</option>
                                {% endfor %}
                            </select>
                            <label for="state">Estado</label>
                        </div>
                    </div>
                    <div class="col-md-7 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ store.city }}" id="city" placeholder="city" autocomplete="off">
                            <label for="city">Cidade</label>
                        </div>
                    </div>
                    <div class="col-md-10 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ store.street }}" id="street" placeholder="street" autocomplete="off">
                            <label for="street">Endereço</label>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ store.number }}" id="number" placeholder="number" autocomplete="off">
                            <label for="number">Número</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ store.phone }}" id="phone" placeholder="phone" autocomplete="off">
                            <label for="phone">Telefone</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ store.cellPhone }}" id="cellPhone" placeholder="cellPhone" autocomplete="off">
                            <label for="cellPhone">Celular</label>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" value="{{ userEmail }}" id="email" placeholder="email" autocomplete="off">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="color" class="form-control" value="{{ store.primaryColor }}" id="primaryColor" placeholder="primaryColor" autocomplete="off">
                            <label for="primaryColor">Cor Primária</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input type="color" class="form-control" value="{{ store.secondaryColor }}" id="secondaryColor" placeholder="secondaryColor" autocomplete="off">
                            <label for="secondaryColor">Cor Secundária</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="terms" id="terms" style="height: 220px">{{ store.terms }}</textarea>
                            <label for="terms">Termos</label>
                          </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-success btn-lg btn-rounded" onclick="store_update('{{ store.id }}')" type="button">
                        <i class="fa-solid fa-floppy-disk"></i> Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    const AXIOS_URL = '{{ AXIOS_URL }}'

    $(document).ready(function(){
        $('#phone').mask('(00) 0000-0000');

        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
        spOptions = {
            onKeyPress: function(val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        };
        $('#cellPhone').mask(SPMaskBehavior, spOptions);
        $('#postalCode').mask("00000-000");

    })

    function store_update(storeId){
        
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";
        axios.put(AXIOS_URL+`/loja`, {
            storeId: storeId,
            corporateName: $('#corporateName').val(),
            brandName: $('#brandName').val(),
            document: $('#document').val(),
            ie: $('#ie').val(),
            postalCode: $('#postalCode').val(),
            state: $('#state').val(),
            city: $('#city').val(),
            street: $('#street').val(),
            number: $('#number').val(),
            phone: $('#phone').val(),
            cellPhone: $('#cellPhone').val(),
            email: $('#email').val(),
            primaryColor: $('#primaryColor').val(),
            secondaryColor: $('#secondaryColor').val(),
            terms: $('#terms').val(),
        }).then(res => {
            var data = res.data
            console.log(data);
        })

    }

</script> 
{% endblock script %}